
.map {
    height: 400px;
}


.contract-area {
    border: 1px dashed navy;
}

.control-label {
    padding-right: 6px;
}

.form-section {
    width: 49%;
    margin-bottom: 10px;
    display: inline-block;
}