extends layout

block content
    .col-xs-12.col-sm-8.pull-right
        p.lead=pageContent.leadline
        p
           | Lorem ipsum
           |<br /> <br />
           |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sed lorem ac nisi diggnissim accumsan