extends layout

block content
    .col-xs-12.col-sm-8.pull-right
        .panel.panel-primary
            .panel-heading
                h2.panel-title Contact Details
            .panel-body
        .panel.panel-primary
            .panel-heading
                h2.panel-title Contact Form
            .panel-body
        .panel.panel-primary
            .panel-heading
                h2.panel-title Our Location
            .panel-body
                .map
                    script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBTYm7eX0SBeqMiaR_yxOE7wwESiHfLqog&callback=initMap')