extends layout

block content
    .col-xs-12.col-sm-8.pull-right
        .panel.panel-primary
            .panel-heading
                h2.panel-title Contact Details
            .panel-body
        .panel.panel-primary
            .panel-heading
                h2.panel-title Contact Form
            .panel-body
                form.form-horizontal( name="feedback-form" action="/" method="post" novalidate)
                    .form-group
                        label.col-sm-2 Name
                        input.col-sm-6(type="text" name="name")
                    .form-group
                        label.col-sm-2 E-mail
                        input.col-sm-6(type="email" name="email")
                    .form-group
                        label.col-sm-2 Your issue
                        textarea.col-sm-6(name="comments") Short description of the issue
                    form-group
                        input.btn.btn-primary(type="submit" name="submit" value="Send")
        .panel.panel-primary
            .panel-heading
                h2.panel-title Our Location
            .panel-body
                .map
                    script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBTYm7eX0SBeqMiaR_yxOE7wwESiHfLqog&callback=initMap')