extends layout

block content
    col-xs-12.col-sm-8.pull-right
        p.lead=pageContent.leadline
        .panel.panel-primary
            .panel-heading
                h2.panel-title Fill up this form
            .panel-body
                form.form-horizontal( name="feedback-form" action="/" method="post" novalidate)
                    .form-group
                        label.col-sm-2 Name
                        input.col-sm-6(type="text" name="name")
                    .form-group
                        label.col-sm-2 Comments
                        textarea.col-sm-6(name="comments") Insert your comments
                    form-group
                        input.btn.btn-primary(type="submit" name="submit" value="Send Feedback")
        .panel.panel-primary
            .panel-heading
                h2.panel-title Feedback from our users
             .panel-body
                 .well-sm
                     span Name:
                     p Lucian Tanase
                     span Comment
                     p "Hello there"
                     span Date
                     p "10.03.2018"
                     hr