extends layout
include includes/functions

block content
    .col-xs-12.col-sm-8.pull-right
        p.lead= pageContent.leadline
        .form-group
            +select()
        .form-group.types Options goes here

        .panel.contract-area(contenteditable) Content of contract goes
                h4 Notificare de neplata